*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 60px;
    color: rgb(84, 84, 134);
}
img{
    border-radius: 100%;
    object-fit:cover;
}

body{
    background-color: #fcfdff;
    display: flex;
    align-items: center;
}
.container{
    position: relative;
    max-width: 1000px;
    margin: 30px;
}
.top-container{
    display: grid;
    grid-template-columns: 1fr 2.5fr;
}
.text h2{
    margin-top: 50px;
    font-style:italic;
    border-left: 4px solid #ff8bb3;
    padding-left: 13px;
    font-size: 35px;
    color: #ff8bb3;
}
.main-container{
    margin: 80px;
    background-color: rgb(225, 224, 224);
}
.conts ul{
    position: relative;
    margin: 7px 0;
}
.conts ul li{
    margin: 15px 0;
    cursor: pointer;
    display: flex;
    font-style: italic;
}
.conts ul li ion-icon{
    font-size: 1.1em;
    color: #ff8bb3;
    margin-right: 10px;
}
li{
    flex-direction: column;
    margin: 25px 0;
    list-style: none;
}
h4{
    color: rgb(84, 84, 134);
}
